.formTweet {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 30%;
  width: 500px;

  border: 2px solid lightseagreen;
  border-radius: 5px;
  background: white;
}
.formTweet .options {
  display: flex;
  border-bottom: 2px solid lightseagreen;
}
.cross {
  display: flex;
  cursor: pointer;
  margin-left: 20px;
}
.cross .line1,
.cross .line2 {
  width: 2px;
  height: 30px;
  background: gray;
}

.cross .line1 {
  transform: rotateZ(-45deg);
}
.cross .line2 {
  transform: rotateZ(45deg);
}
.tweetForm .tweet {
  display: flex;
  height: 200px;
}

div > .profileCard:first-child {
  background: lightseagreen;
  width: 30px;
  height: 30px;
  margin: 10px;
}
.tweetForm form {
  display: grid;
  height: 100%;
  width: 100%;
}

.tweetForm form textarea {
  transform: translateY(-10px);
  height: 90%;
  border-bottom: 2px solid lightseagreen;
  width: 95%;
  font-size: 18px;
}
.tweetForm input {
  margin: auto;
}
.items {
  display: flex;
}
.items > .card {
  margin: 10px;
}

div > .card:first-child {
  background: lightseagreen;
}
.hide {
  display: none;
}
