.main {
  background-color: white;
  color: black;
  border-right: 1px solid var(--twitter-background);
  border-left: 1px solid var(--twitter-background);
}

.posts {
  margin-top: 10px;
}
.posts > div:last-child {
  border-bottom: 1px solid var(--twitter-background);
}
.main .tweet {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;

  border-bottom: 1px solid var(--twitter-background);
  padding: 10px 0px;
}
.main h3 {
  color: black;
}
.main > div:first-child {
  border-bottom: 1px solid var(--twitter-background);
  padding: 10px;
  background: #fff;
  position: sticky;
  top: 0;
}

.tweet textarea {
  width: 100%;

  grid-column: 1 / span 2;
  border-bottom: 1px solid var(--twitter-background);
  border-right: none;
  border-left: none;
  border-top: none;
  padding-top: 5px;

  resize: none;
  overflow: hidden;
  height: 50px;
}

.tweet textarea:focus {
  outline: none;
}

.tweet div:first-child {
  background: red;
  grid-row: 1 / span 2;
}

.tweet .card {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 362px;
  align-items: flex-end;
}
.main .btn-outline {
  width: 100px;
  padding: 5px 10x;
}
