.post {
  border-top: 1px solid var(--twitter-background);
  display: flex;
  padding: 10px;
  font-size: 10px;
}

.post .content {
  display: flex;
  flex-direction: column;
}
.id {
  padding-right: 10px;
}
.content p {
  align-self: flex-start;
  margin-left: 10px;
}

.content .info {
  display: flex;
  flex-direction: row;
  position: relative;
}
.content .comment {
  width: 344px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.action {
  display: flex;
}

.actions div:last-child {
  margin-right: 10px;
}
.action p {
  align-self: center;
}
.deleteBtn {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-left: auto;
  z-index: 9;
}

.point1,
.point2,
.point3 {
  width: 4px;
  height: 4px;
  background: black;
  margin: 0px 5px;
  transition: all 0.4s ease-in-out;
}
.content .info h1 {
  z-index: 0;
  position: absolute;
  right: 0;
  opacity: 0;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.show {
  animation: show 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

.fusion1 {
  transform: translateX(10px);
}
.fusion3 {
  transform: translateX(-10px);
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(50px, -5px);
  }
}
@keyframes fusion1 {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(10px);
  }
}
@keyframes fusion3 {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-10px);
  }
}
